# Exclude CSV files
*.csv linguist-generated=true

# Exclude Jupyter Notebook outputs
*.ipynb linguist-generated=true

# Exclude documentation files
*.md linguist-documentation=true
*.rst linguist-documentation=true

# Exclude .vtp files
*.vtp linguist-generated=true

# Exclude .stl files
*.stl linguist-generated=true